<template>
  <div id="app">
    <p v-html="val"/>
    <input type="text" @input="setValue($event.target.value)"/>
  </div>
</template>

<script>
  import Vue from 'vue'
  import Component from 'vue-class-component'
  import { mapActions, mapGetters } from 'vuex';

  @Component({
    computed: {
      ...mapGetters('store', ['val'])
    },
    methods: {
      ...mapActions('store', ['setValue'])
    }
  })
  export default class App extends Vue {
  }

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
